.main-button {
    text-decoration: none;
    font-family: "Fira Code", Arial, sans-serif;
    display: inline-block;
    color: white;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 80ms linear;
    cursor: pointer;
}

.main-button:hover {
    transform: scale(1.15);
}

.main-button.-full {
    width: 100%;
}

.main-button.-full:hover {
    transform: scale(1.03);
}
